.nav {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid grey;
  box-shadow: -4px -4px 20px 0px grey;
}
.logo {
  animation: rotate 5s infinite linear;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.nav section {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  width: 40%;
  a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    border-radius: 20px;
    padding: 0.2rem 0.5rem;
    &:hover {
      box-shadow: 1px 1px 30px grey;
    }
  }
}
.main {
  min-height: calc(100vh - 5rem - 1.4rem);
}

.footer {
  display: grid;
  place-content: center;
  font-size: 0.8rem;
}
