.nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid grey;
  box-shadow: -4px -4px 20px 0px grey;
}
.logo {
  animation: rotate 5s infinite linear;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.nav section {
  display: flex;
  gap: 2rem;
  a {
    font-size: 1.3 rem;
    color: black;
    text-decoration: none;
    font-weight: 400;
    &:hover {
      font: 600;
      font-size: 1.3rem;
    }
  }
}
.main {
  min-height: calc(100vh - 5rem - 1.4rem);
  width: 100vw;
}

.footer {
  display: grid;
  place-content: center;
  font-size: 0.8rem;
}
