.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 80%;
  justify-self: center;
  gap: 1rem;
  padding: 4rem;
  margin-block: 6rem 2rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 24px -5px grey;
  background-color: aliceblue;
}
.wrapped {
  display: inline;
  span {
    animation: animateText calc(sibling-index() * 0.7s) linear infinite;
    filter: hue-rotate(calc(sibling-index() * 30deg));
  }
}
@keyframes animateText {
  0%,
  20% {
    color: #0008;
  }
  21%,
  79% {
    color: rgb(255, 21, 0);
  }
  80%,
  100% {
    color: #0005;
  }
}
